<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>441426406498-itc9rq78lfrq93g4uhgtufq1j4ptuksk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.441426406498-itc9rq78lfrq93g4uhgtufq1j4ptuksk</string>
	<key>API_KEY</key>
	<string>AIzaSyBih0Y20_C-1VTO_YzCxhK8CxdQSZH3fPY</string>
	<key>GCM_SENDER_ID</key>
	<string>441426406498</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.softwave.football-360</string>
	<key>PROJECT_ID</key>
	<string>football-system-ios</string>
	<key>STORAGE_BUCKET</key>
	<string>football-system-ios.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:441426406498:ios:590c117223261eaf4ab53b</string>
	<key>DATABASE_URL</key>
	<string>https://football-system-ios.firebaseio.com</string>
</dict>
</plist>